# Ignore virtual environment
626FinalProject_venv/

# Ignore datasets
Code/data
# Allow only the processed data directory
!Code/data/processed/
!Code/data/processed/**

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore IDE/project-specific files
.vscode/

Report/